<template>
<transition name="fade">
	<div role="alert" class="alert" :class="'alert-' + type" v-if="visible">
		<slot></slot>
	</div>
</transition>
</template>
<script>
	export default {
		props: [
			'type',
			'message'
		],
		data(){
			return {
				visible: true
			}
		},
		methods: {
		},
		created(){
			setTimeout(() => {
				this.visible = false;
			}, 3000);
		}
	}
</script>
<style>
.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}
</style>