<template>
	<div v-if="notifications.length > 0" class="float-right col-md-2 mr-2 mt-2">
		<notification v-for="(notification, i) in notifications" :key="i" :type="notification.type">
			{{ notification.message }}
		</notification>
	</div>
</template>
<script>
	import Notification from './Notification.vue';
	export default {
		components: {
			Notification
		},
		data(){
			return {
				notifications: []
			}
		},
		created(){
			Event.$on('notification', payload => {
				this.notifications.push(payload);
			});
		}
	}
</script>