<template>
	<div class="card" v-if="show">
		<div class="card-header">
			{{ property.address }} 
			<button class="btn btn-primary" @click.prevent="getCornerPoints()">
				Get Corner Points
			</button>
			<button class="btn btn-primary" @click.prevent="generate3DModel()">
				Generate 3D model
			</button>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-md-12 gutterless" id="output-container">
					<canvas id="output_image"></canvas>
					<img id="starter_image" class="img-fluid" :src="property.url">
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data(){
			return {
				show: false,
				property: {},
				activeStep: 0,
			}
		},
		watch:{
			steps: {
				handler: function(old_value, new_value){
					this.execute(this.steps[this.activeStep]['name']);
				},
				deep: true
			}
		},
		methods: {
			readImage(){
				return cv.imread("starter_image");
			},
			outputImage(image){
				cv.imshow('output_image', image);
			},
			getCornerPoints(){
				let image = this.readImage();
				cv.cvtColor(image, image, cv.COLOR_RGBA2GRAY, 0);
				cv.threshold(image, image, 240, 255, cv.THRESH_BINARY);
				cv.bitwise_not(image, image);

				let M = cv.Mat.ones(3, 3, cv.CV_8U);
				let anchor = new cv.Point(-1, -1);
				let contours = new cv.MatVector();
				let hierarchy = new cv.Mat();
				let dst = cv.Mat.zeros(image.rows, image.cols, cv.CV_8UC1);
				let fin = cv.Mat.zeros(image.rows, image.cols, cv.CV_8UC3);

				cv.findContours(image, contours, hierarchy, cv.RETR_EXTERNAL, cv.CHAIN_APPROX_SIMPLE);
				let color = new cv.Scalar(255,255,255);
				for (let i = 0; i < contours.size(); ++i) {
				    cv.drawContours(dst, contours, i, color, -1, cv.LINE_4, hierarchy, 100);
				}
				this.outputImage(dst);

				let points = [];
				for (let i = 0; i < contours.get(0).rows; i++) {
				    let startPoint = new cv.Point(contours.get(0).data32S[i * 4], contours.get(0).data32S[i * 4 + 1]);
				    let endPoint = new cv.Point(contours.get(0).data32S[i * 4 + 2], contours.get(0).data32S[i * 4 + 3]);

				    if(startPoint.x == 0 || startPoint.y == 0 || endPoint.x == 0 || endPoint.y == 0) continue;
				    points.push(startPoint);
				    points.push(endPoint);
				}
				Event.$emit('render', {
					points: points
				});
				this.show = false;
				// dst.delete(); image.delete(); M.delete(); contours.delete(); hierarchy.delete();
			},
			sort(points){
				// Find min max to get center
				// Sort from top to bottom
				points.sort((a,b)=>a.y - b.y);

				// Get center y
				const cy = (points[0].y + points[points.length -1].y) / 2;

				// Sort from right to left
				points.sort((a,b)=>b.x - a.x);

				// Get center x
				const cx = (points[0].x + points[points.length -1].x) / 2;

				// Center point
				const center = {x:cx,y:cy};

				// Pre calculate the angles as it will be slow in the sort
				// As the points are sorted from right to left the first point
				// is the rightmost

				// Starting angle used to reference other angles
				var startAng;
				points.forEach(point => {
				    var ang = Math.atan2(point.y - center.y,point.x - center.x);
				    if(!startAng){ startAng = ang }
				    else {
				         if(ang < startAng){  // ensure that all points are clockwise of the start point
				             ang += Math.PI * 2;
				         }
				    }
				    point.angle = ang; // add the angle to the point
				 });
				 // Sort clockwise;
				 points.sort((a,b)=> a.angle - b.angle);
			},
		},
		created(){
			Event.$on('showProperty', payload => {
				this.property = payload;
				this.show = true;
			});

		},
	}
</script>
<style>
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.hidden{
	display: none;
}
</style>